venv/
logs.log
poetry/pythonFiles/__pycache__/forms.cpython-311.pyc
poetry/__init__.log
__init__.log
# poetry/data/
poetry/config/model/
poetry/notebooks/medical/mlruns/
poetry/notebooks/hdb/mlruns/
poetry/notebooks/medical/.ipynb_checkpoints/Pycaret model development-checkpoint.ipynb
MLOPS/Include/
MLOPS/Lib
poetry/pythonFiles/__pycache__/forms.cpython-38.pyc
poetry/mlruns/
.idea/
*.log
MLOPS/