{% extends "base.html" %}

{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">{% endblock %}
{% block title %}Home Page{% endblock %}

{% block content %}
<div class="home">
    <div class="medical_side home_split">
        <div class="contents">
            <h2>Worried that you may have <br> cardiovascular issues? <br></h2>
            <br>
            <h4><a href="/cvprediction" class="button-back">Free Assessment</a></h4>
            <br>
        </div>
        <div>
            <img class="image" src="static/images/cv.jpg" alt="Cardiovascular Background Image">
        </div>
    </div>
    <div class="hdb_side home_split">        
        <div class="contents hdb_background">
            <h2>Interested in predicting <br>the price of a HDB flat? <br></h2>
            <br>
            <h4><a href="/hdbprediction" class="button-back">Predict Here</a></h4>
            <br>
        </div>
        <div>
            <img class="image" src="static/images/hdb.jpg" alt="HDB Background Image">
        </div>
    </div>
</div>

{% endblock %}