.home {
    display: flex;
    height: 100vh;
    padding: 15vh;
    background-color: rgb(175, 217, 236);;
}

.home_split {
    width: 50%;
    text-align: center;
    padding: 5vh;
}


.image {
    width: 80%;
}