.home {
    display: flex;
    height: 100vh;
    padding: 15vh;
    background-color: rgb(175, 217, 236);;
}

.home_split {
    width: 50%;
    text-align: center;
    padding: 5vh;
}


.image {
    width: 80%;
}

.button-back {
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
    text-decoration: none;
    color: black;
    margin-bottom: 2vh;
    transition: 0.5s;
}

.button-back:hover {
    color: black;
    text-decoration: none;
    background-color: white;
    transition: 0.5s;
}